##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [1]:
print("Name : Kevin")
print("City : New York")

Name : Kevin
City : New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [2]:
print("Emergency Alert")
print("NEWS : FLASH FLOOD WARNING this area till 7:00 PM")

Emergency Alert
NEWS : FLASH FLOOD WARNING this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [5]:
div1 = 2000/2
div2 = div1/2
div3 = div2/2

print(div1, div2, div3)

1000.0 500.0 250.0

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [9]:
x = 5
y = 10
z = 15

prod1 = x ** z
prod2 = x ** y
prod3 = x - y
rem = x % z

print(prod1, prod2, prod3, rem)

30517578125 9765625 -5 5

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [30]:
sum = ((4*0.25)+(3*0.10)+(2*0.05)+0.01)
rounded_sum = round(sum, 2)
print('$', rounded_sum)

$ 1.41

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [33]:
s = "Python"
s[4]

'o'

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [43]:
s = "Python"

'tho'

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [45]:
s = "Python Class"
s[7:12]

'Class'

9 - Find the length of the String  **Welcome to Pace University**

In [57]:
s = "Welcome to Pace University"
print(len(s))

26

10 - Split the String  **Welcome to Pace University**  into words

In [59]:
s = "Welcome to Pace Universtiy"
s.split()

['Welcome', 'to', 'Pace', 'Universtiy']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [88]:
text = "Artificial intelligence"
replaced_text = text.replace('i', 'o')
replaced_text

'Artofocoal ontellogence'

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [60]:
s = "DATA Science"
s.lower()

'data science'

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [61]:
s = "DATA Science"
s.upper()

'DATA SCIENCE'

14 - reverse the given String  **Artificial intelligence**

In [66]:
s = ["Artificial", "Intelligence"]
s.reverse()
print(s)

['Intelligence', 'Artificial']

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [80]:
150<225
print("a is less than b")

a is less than b

###Lists

16 - Create a **list** of **lists** of integers elements

In [86]:
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

17 - Create a **list** of **lists** of Text elements

In [85]:
texts = [["hello", "world"], ["colab", "notebook"], ["python", "list"]]