##Knowlegde Check - 2

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [5]:
def smallest_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [6]:
# Check1
smallest_of_two_evens(2,4)

2

In [7]:
# Check2
smallest_of_two_evens(2,5)

5

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [8]:
def animal_crackers(text1, text2):
  return text1[0] == text2[0]

In [9]:
# Check1
animal_crackers('Lion', 'Lady')

True

In [10]:
# Check2
animal_crackers('Crazy', 'Drink')

False

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [11]:
def sum_twenty(n1,n2):
    if (n1 + n2) == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [12]:
# Check1
sum_twenty(20,10)

True

In [13]:
# Check2
sum_twenty(2,3)

False

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [14]:
def cap_first_four(name):
    if len(name) >= 4:
        return name[0].upper() + name[1:3] + name[3].upper() + name[4:]
    elif len(name) == 1:
        return name[0].upper()
    else:
        return name

In [15]:
# Check
cap_first_four('macdonald')

'MacDonald'

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [17]:
def rev_words(text):
    words = text.split()
    reversed_words = words[::-1]
    return " ".join(reversed_words)

In [18]:
# Check1
rev_words('I am home')

'home am I'

In [19]:
# Check2
rev_words('We are ready')

'ready are We'

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [20]:
def nearest_num(n):
    return abs(100 - n) <= 10 or abs(200 - n) <= 10

In [21]:
# Check1
nearest_num(104)

True

In [22]:
# Check2
nearest_num(150)

False

In [23]:
# Check3
nearest_num(209)

True

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [24]:
def contains_two_samevalues(nums):
    for i in range(len(nums) - 1):
        if nums[i] == nums[i+1]:
            return True
    return False

In [25]:
# Check1
contains_two_samevalues([1, 3, 3])

True

In [26]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

False

In [27]:
# Check3
contains_two_samevalues([3, 1, 3])

False

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [28]:
def repeat_three(text):
    result = ""
    for char in text:
        result += char * 3
    return result

In [29]:
# Check1
repeat_three('Hello')

'HHHeeellllllooo'

In [30]:
# Check2
repeat_three('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [31]:
def count_primes(num):
    if num < 2:
        return 0

    primes = [2]
    x = 3
    while x <= num:
        for y in primes:
            if x % y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    return len(primes)

In [32]:
# Check1
count_primes(100)

25